body {
    background: black url("background.png") no-repeat center;
    /*-moz-background-size: 90%;*/
    /*-webkit-background-size: 90%;*/
    /*-o-background-size: 90%;*/
    /*background-size: 90%;*/
    font-family: Tahoma;
    color: #e6e6e6;
    font-size: 15px;
    font-weight: 400;
}

.wrapper {
    margin: 0 15% 0 15%;
    width: 955px;
}

#header {
    display: block;
    margin-top: 50px;
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    display: block;
    float: left;
    width: 263px;
    height: 147px;
}

.contacts {
    display: block;
    float: right;
    font-size: 9px;
    line-height: 1.3;
    text-align: left;
    vertical-align: bottom;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.head_contact {
    font-weight: bold;
    font-size: 10.5px;
    line-height: 1.7;
}

#article {
    display: inline-block;
    width: inherit;
    margin: 5px 0 75px 0;
    padding-left: 75px;
}

section {
    display: inline-block;
    text-align: center;
margin: 15px 0 0 15px;
}

.photo {
    background: white;
    border: 4px ridge #9c9c9c;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.img_name {
    color: #e6e6e6;
    font-size: 15.24px;
    text-align: center;
}

footer {
    margin-top: 150px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}