.body {
    font-family: 'helveticaneuecyrthin', Arial, sans-serif;
}

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
    url('fonts/helveticaneuecyr-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
    url('fonts/helveticaneuecyr-thin-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.wrapper {
    background: #fff url("Background.png") no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1349px;
    height: 1028px;
    z-index: 1;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu {
    background-color: #014f8f;
    display: inline-block;
    font-family: 'helveticaneuecyrthin', Arial, sans-serif;
    font-size: 0;
    line-height: 0;
    list-style: none;
    text-align: right;
    width: 100%;
}

.menu li {
    display: inline-block;
    height: 31px;
    font-size: 14px;
    line-height: normal;
}

.menuTasks {
    color: #60b5ed;
    display: inline-block;
    font-size: 14px;
    height: 31px;
    padding: 8px 10px 0 10px;
    text-decoration: none;

}

.menuTasks:hover {
    background-color: #4daddb;
    color: white;
}

.flag {
    display: block;
    height: 23px;
    left: 10px;
    position: absolute;
    top: 7px;
    width: 21px;
}

.Minhas, .Ola {
    border-left: 1px solid #60b5ed;
    color: white;
    display: inline-block;
    text-align: center;
}

.Minhas {
    position: relative;
    width: 150px;
}

.Ola {
    border-right: 1px solid #60b5ed;
    background: linear-gradient(to bottom, #4eb0dc, #2a7bc5);
    margin-right: 15px;
    width: 175px;
    color: white;
    display: inline-block;
    font-size: 14px;
    height: 31px;
    padding: 8px 10px 0 10px;
    text-decoration: none;
}

.enter {
    color: white;
    text-decoration: underline;
}

article {

}

section {
    bottom: 0;
    color: white;
    font-family: 'helveticaneuecyrthin', Arial, sans-serif;
    left: 0;
    line-height: 2;
    margin: auto;
    height: 650px;
    padding: 5px 5px 5px 55px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 560px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}

.fb {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    padding: 20px 140px 20px 140px;
}

.form_item {
    color: #cccccc;
    background-color: black;
    border: 0;
    box-shadow: 0 1px 1px 0 rgba(204, 204, 204, 0.3);
    padding: 3px 0 3px 25px;
    margin: 5px;
    width: 250px;
    height: 29px;
}

.form_item:focus{
    background: rgb(20, 81, 137);
    border: 1px solid #29B0D9;
    box-shadow: 1px 1px 10px 0 rgba(102, 198, 230, 1);
}

:focus::-webkit-input-placeholder {
    color: #ffffff;
}

:focus::-moz-placeholder {
    color: #ffffff;
}

:focus:-moz-placeholder {
    color: #ffffff;
}

:focus:-ms-input-placeholder {
    color: #ffffff;
}

.tip, .ou {
    color: #cccccc;
}

.ou {
    overflow: hidden;
}

.ou:before,
.ou:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: linear-gradient(to bottom, #2c2b2b, black);
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 0 10px;
}
.ou:before {
    margin-left: -100%;
}
.ou:after {
    margin-right: -100%;
}
#submit {
    background: linear-gradient(to bottom, #66c6e6, #2a7bc5);
    border: 0;
    border-radius: 2px;
    color: white;
    font-family: 'helveticaneuecyrthin', Arial, sans-serif;
    font-weight: bold;
    font-size: inherit;
    padding: 10px;
}

.privacy {
    font-size: 10px;
    color: #cccccc;
    padding: 10px 0 0 0;
}